@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');
@media (min-width:900px){
    @import"homePage";
@import"navBar";
}
@media (max-width:900px){
    @import"navBarMobile";
    @import"homePageMobile";
}
@media (max-width: 1750px) and (min-width: 900px){
    .projects {
        padding: 0;
    }
    
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --background-button: #1ae0ec;
    --bacckground-standart: #f3f3f3;
    --ff-standart: 'Assistant', sans-serif;
    --ff-special: 'Satisfy', cursive;
}