.example-container,
.example-row {
  height: 100vh;
}
.example-content-main {
  background: rgb(137, 94, 177);
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3em;
  padding-top: 1em;
}
label {
  display: block;
}
.login_signup {
  text-align: center;
  /* margin-top: 2em; */
}

.none{
  display: none;
}
#grades{
  margin-top: 1em;
  margin-bottom: 1em;
}
.new_post{
  padding: 1em;
  background-color: antiquewhite;
border-radius: 20px; 
 display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;

}  
#add_photo{
  border: none;
  padding-bottom: 1em;
  height: 4em;
}
svg{
    width: 30px;
  }
  .postsection{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .postsContainer{
    width: 75%;
    padding-top: 0;
  }
  #status,.commentInput{
    border-radius: 20px;
  }
  .postsContent{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
        border-radius: 20px;
  }
  .whoShared{
    position: absolute;
    /* background-color: bisque; */
    color: aqua;
    left: 25%;
    top: 15%;
    border-bottom: 1px solid gray;
  }
  .status{
    text-align: center;
    padding-top: 1em;
    width: 100%;
        border-bottom: 1px solid gray;
  }
  .like{
    position: inherit;
    border: none;
    background:none;
    /* height: 10px; */
    right: 10%;
  }
    .commContent>.comment{
    position: inherit;
    border: none;
      left: 40%;
    background: none;

  }
  .commContainer{
  position: relative;  
  width: 75%;
  }
  .commContainerTemp{
    width: 75%;
  }
  .commContent,.commContentTemp{
    position: relative;
  }

  .commContent>.like{
    position: inherit;
    left: 40%;

  }
 .commContentTemp>.comment{
 position: inherit;
 border: none;
 left: 40%;
  background: none;
    }
.commentInput{
  width: 100%;
}
.likeOnComment{
position: inherit;
  border: none;
  background: none;
  /* height: 10px; */
  left:33%;
}
